
.label {
    -fx-background-color: linear-gradient(to bottom right, #000000, #8a7d5b);
    -fx-border-color: #6a5100;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-width: 2px;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-text-fill: #ffd500;
}

.reply-label {
    -fx-background-color: linear-gradient(to bottom right, #000000, #4d3b57);
    -fx-border-color: #4c006a;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-text-fill: #9900ff;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}
