.root {
    main-color: rgb(0, 0, 0);       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: linear-gradient(from 50% 100% to 50% 70%, #935dff, main-color);
}

.text-field {
    -fx-background-color: black;
    -fx-border-color: #2c1387;
    -fx-font: 20px "Times New Roman";
    -fx-text-fill: #7300ff;
}

.button {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, black, #2c1387);
    -fx-font: bold 16px "Times New Roman";
    -fx-text-fill: #7300ff;
}

.button:hover {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, black, #5f2eff);
    -fx-font-size: 18px;
    -fx-text-fill: #7300ff;
}

.button:pressed {
    -fx-border-color: radial-gradient(center 50% 50%, radius 100%, black, #866bff);
    -fx-font-size: 20px;
    -fx-text-fill: #7300ff;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: linear-gradient(to top, #ffd500, black);
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
